[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
huggingface-hub = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
faiss-cpu = "*"
langchain-groq = "*"
pypdf = "*"
langchain = "*"
langchain-text-splitters = "*"
streamlit-mic-recorder = "*"
googletrans = "==4.0.0rc1"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
